{% extends 'dataImport/group_table.html' %}
{% load widget_tweaks %}
{% load signing_tags %}
{% load static %}

{% block group_table_details %}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<style>
	label[for="id_file"] {
		font-weight: bold;
	}
</style>


<form  method="post" enctype="multipart/form-data">
    {% csrf_token %}	
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Upload</button>
</form>

{% if upload_success %}
	<script>
		document.addEventListener("DOMContentLoaded", function () {
			if (confirm("Upload completed successfully! Click OK to continue.")) {
				window.location.href = "{{ redirect_url }}";
			}
		});
	</script>
{% endif %}


{% endblock %}