{% extends 'base.html' %}
{% load widget_tweaks %}
{% load signing_tags %}
{% load static %}
{% block content %}
<h1>Research Listing</h1>
<a href="{% url 'teachers:profile' %}" class="btn btn-primary">Home</a>
<a href="{% url 'teachers:add-research' %}" class="btn btn-primary">Add New Patent</a>

<table class="table table-striped mt-3">
    <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Name of the Author</th>
            <th>Name of the Journal</th>
			<th>Year of Publication</th>
			<th>ISSN Number</th>
			<th>Journal Website</th>
			<th>Article Website</th>
            <th>Is in UGC care</th>
			<th>Actions </th>
        </tr>
    </thead>
    <tbody>
        {% for research in researches %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ research.title }}</td>
            <td>{{ research.authors_name  }}</td>
            <td>{{ research.jrnl_name  }}</td>
			<td>{{ research.yr_of_pub  }}</td>
			<td>{{ research.issn_no   }}</td>			
			<td>
				{% if research.jrnl_site %}
					<a href="{{ research.jrnl_site }}" target="_blank" class="btn-view">View</a>
				{% else %}
					No Document
				{% endif %}
			</td>
			<td>
				{% if research.article_site %}
					<a href="{{ research.article_site }}" target="_blank" class="btn-view">View</a>
				{% else %}
					No Document
				{% endif %}
			</td>
			
			<td>{{ research.is_ugc_care  }}</td>
            <td>
                <a href="{% url 'teachers:edit-research' signed_id=research.id|sign_id %}" class="btn btn-sm btn-info">Edit</a>
                <form action="{% url 'teachers:delete-research' research.id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button 
						type="submit" 
						class="btn btn-sm "
						style="color: red;"						
						onclick="return confirm('Are you sure you want to delete the Research Pub: {{ research.title|escapejs}}?');" >
						Delete
					</button>  
                </form>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="10" style="text-align:center;" >No Research Publication found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

