{% extends 'hod_group/group_table.html' %}
{% load static %}
{% block group_table_details %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Streamlit in Django</title>
</head>
<body>
    <h2>Embedded Streamlit App</h2>
	 <p><a href="{% url 'hod_group:group_table_with_id' 'group4' %}">Back</a></p>
    
    <iframe src="http://localhost:8501" width="100%" height="800px" frameborder="0"></iframe>
</body>
</html>
{% endblock %}