{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teacher Database</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Link to Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <!-- Optional: Link to Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">

</head>
<body>
<header class="bg-success text-white text-center p-4">
    <h1>JU Teacher Portal</h1>
</header>

<nav class="bg-dark text-white p-2 text-end">	

	{% if user.is_authenticated %}
		<a class="text-white ms-3" style="float:left;" href="{% url 'teachers:profile' %}">Home</a>
        
		{% if request.session.dept %}
			<span class="text-white ms-3" style="float:left;margin-left:10px;">Deptt.: {{request.session.dept}} </span>
		{% endif %}
		
		{% if request.session.hod %}
			<span class="text-white ms-3" style="float:left;margin-left:10px;">Group : {{request.session.hod}} </span>
		{% endif %}
		
		
		<span class="d-inline-block">Welcome, {{ user.first_name }}</span>
		
        <a class="text-white ms-3" href="{% url 'teachers:logout' %}">Logout</a>
    {% else %}
        <a class="text-white me-3" href="{% url 'teachers:login' %}">Login</a>
        <a class="text-white" href="{% url 'teachers:register' %}">Register</a>
    {% endif %}
</nav>

<div class="container my-5 p-4 bg-light shadow-lg">
    {% block content %}
	
    {% endblock %}
</div>

<footer class="bg-dark text-white text-center p-3 mt-auto">
    &copy; 2024 JU Teacher Database. All rights reserved.
</footer>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
